<div>
    <h2 id="page-heading" data-cy="RecipeHeading">
      <span>Recipes</span>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <span>Refresh List</span>
        </button>
  
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-Recipe"
          [routerLink]="['/recipe/new']"
        >
          <span> Create a new Recipe </span>
        </button>
      </div>
    </h2>
  
    
    <div class="alert alert-warning" id="no-result" *ngIf="recipes?.length === 0">
      <span>No recipes found</span>
    </div>
  
    <div class="table-responsive" id="entities" *ngIf="recipes && recipes.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Name</span></th>
            <th scope="col"><span>No Of Persion Can Eat</span></th>
            <th scope="col"><span>Creation Date</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of recipes; trackBy: trackId" data-cy="entityTable">
            <td>
              <a 
                [routerLink]="['/recipe', recipe.id, 'view']"
                [queryParams]="{fields: 'id,name,creationDateTime,isVegetarian,noOfPeopleCanEat,cookingInstructions,ingredients'}"
                >{{ recipe.id }}</a>
            </td>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.noOfPeopleCanEat }}</td>
            <td>{{ recipe.creationDateTime | formatMediumDatetime }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/recipe', recipe.id, 'view']"
                  [queryParams]="{fields: 'id,name,creationDateTime,isVegetarian,noOfPeopleCanEat,cookingInstructions,ingredients'}"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <span class="d-none d-md-inline">View</span>
                </button>
  
                <button
                  type="submit"
                  [routerLink]="['/recipe', recipe.id, 'edit']" 
                  [queryParams]="{fields: 'id,name,creationDateTime,isVegetarian,noOfPeopleCanEat,cookingInstructions,ingredients'}"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <span class="d-none d-md-inline">Edit</span>
                </button>
  
                <button type="submit" (click)="delete(recipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="recipes && recipes.length > 0">
  
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
  